<server description="Game On! Concierge Service">

    <!-- Enable features -->
    <featureManager>
		<feature>websocket-1.1</feature>
	    <feature>localConnector-1.0</feature>
        <feature>jaxrs-2.0</feature>
        <feature>cdi-1.2</feature>
        <feature>ssl-1.0</feature>
        <feature>jsonp-1.0</feature>
    </featureManager>
    
    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint host="*" httpPort="9081" httpsPort="9444" id="defaultHttpEndpoint"/>

  	<keyStore id="defaultKeyStore" password="testOnlyKeystore"/>
  	<keyStore id="defaultTrustStore" location="truststore.jks" password="truststore"/>
  	
  	<sslDefault sslRef="DefaultSSLSettings"/>
    <ssl id="DefaultSSLSettings" keyStoreRef="defaultKeyStore" trustStoreRef="defaultTrustStore"/>

	<!-- Signed JWT keystore info -->
	<jndiEntry jndiName="jwtKeyStore" value="${server.config.dir}/resources/security/key.jks"/>
	<jndiEntry jndiName="jwtKeyStorePassword" value="testOnlyKeystore"/>
	<jndiEntry jndiName="jwtKeyStoreAlias" value="default"/>
	
	<jndiEntry jndiName="playerUrl" value="${env.CONCIERGE_PLAYER_URL}"/>

    <!-- This is our private backend room registration key, only used for recroom/nodejs etc -->
    <jndiEntry jndiName="registrationSecret" value="${env.REGISTRATION_SECRET}"/>
    
    <!-- This one is a fixed shared key between concierge and it's consumers -->
    <jndiEntry jndiName="querySecret" value="${env.QUERY_SECRET}"/>

    <!-- This is required to prevent the web apps from being lazily loaded -->
    <webContainer deferServletLoad="false"/>

    <logging traceSpecification="*=info"/>

    <applicationMonitor dropinsEnabled="false"/>

    <webApplication contextRoot="/concierge" id="concierge-app" location="concierge-app.war"/>
</server>
